body {
  padding: 100px;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  background: none;
  color: black;
  padding: 15px 40px;
  font-size: 18px;
}

input[type="text"], input[type="email"], textarea, select#answer  {
  border: none;
  border-bottom: solid 2px #999;
}
input[type="text"]:focus, input[type="text"]:active, input[type="email"]:focus, input[type="email"]:active, textarea:focus, textarea:active {
  border-bottom: solid 2px #8e44ad;
  outline: none;
}
input[type="submit"]{
  margin-top: 30px;
  padding: 10px 20px;
}

input[type="submit"]:active {
  background: #21a1e1;
  color: white;
}

.input-group {
  display: ;
  margin-top: 10px;
  margin-right: 20px;
  position: relative;
}
.input-group input, .input-group textarea {
  padding: 15px 0px;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-style: italic;
  font-size: 18px;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.input-group input:focus + label,
.input-group textarea:focus + label{
	color:#8e44ad;
}

.input-group input:focus + label,
.input-group input.has-value + label,
.input-group textarea:focus + label,
.input-group textarea.has-value + label  {
  top: 0;
  font-size: 12px;
}
label.select{
padding-top: 2%;
  position: absolute;
  //top: 50%;
  //left: 0px;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-style: italic;
  font-size: 12px;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

select#answer {
  margin-top:4%;
  margin-right: 4%;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
   outline: none;
}
